@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100vw;
    height: 100px;
    background-color: #EE434A;
}

header nav h1{
    color: #fff;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}