@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EE434A;
    padding: 5px 30px;
}

header h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 40px;
    margin-top: 10px;
    line-height: 60px;
    font-weight: 800;
    color: #2E282A;
}

span{
    color: #EE434A;
    font-weight: 700;
}

p{
    max-width: 620px;
    font-weight: 500;
    margin-top: 20px;
    color: #2E282A;
}

.voltar{
    background-color: #EE434A;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
}